@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 0px;
}

.layout {
  min-width: 1024px;
  max-width: 1250px;
  margin: auto;
  padding-top: 20px;
}

.form-control {
  margin-bottom : 20px;
  height: 40px;
  border-radius: 25px;
  padding: 0px 30px;
}

.btn {
  width: auto;
  min-width: 120px;
  border-radius: 25px;
  height: 40px;
  margin: 0 10px;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: #276196;
  color: white;
  border: 1px solid #276196;
}

.none {
  display: none;
}

.form {
  .form-group {
    width: auto
  }
  .form-control {
    margin: 0;
  }
  .control-label {
    margin: 0;
  }
  .error {
    border-color: #da2026;
    &::placeholder {
      color: #da2026;
    }
  }
}


.error {
  color: #da2026;
}
