.top-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.search-block {
  display: flex;
}

.search-input {
  margin-top: 0px !important;
  // margin-right: 20px;
  width: 180px;
}

.loadingBlock {
  width: 50px;
  color: #276196;
  padding: 5px;
}
