h2.title {
  padding: 50px 0px;
}

.table-details {
  margin: auto;
  tr {
    td {
      width: 200px;
      height: 40px;
      font-size: 17px;
      font-weight: 600;
      text-align: left;
    }
  }
}
